/* selector { propiedad : valor}*/
/* selectores
ID : se usa una sola vez, en general en bloques - En html id="miId" en css #miId {color: green;}
CLASS : Es reutilizable - En html class="miClase" en css .miClase {color:green; } */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Flex:opsz,wght@8..144,700&display=swap');

@font-face {
    font-family: Monoton;
    src: url(../fonts/monoton/Monoton-Regular.ttf);
}

/* reseteo de espacios para navegadores */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* reseteo para tipografia para que quede 1rem = 10px */
html {
    font-size: 62.5%;
}

/* tipografia principal */
body {
    font-family: 'Nunito', sans-serif;
}

.logo {
    width: 60px;
}

header {
    background-color: greenyellow;
    z-index: 100;
    /* usamos sticky en lugar de fixed porque fixed lo saca por completo del flow y el contenido siguiente pisa el header */
    position: sticky;
    top: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style: none;
    display: flex;
    padding: 0 20px;
    width: 60%;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

ul li a,
.nav-link.mi-estiloLinik {
    font-size: 1.5rem;
}

.offcanvas.offcanvas-end.mi-estiloNav {
    width: 200px;
}

h1 {
    font-size: 3.25rem;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1.25rem;
}

h1 .titulo {
    color: red;
    font-size: 3.15rem;
    font-style: italic;
}

.nosotros_titulo {
    text-transform: uppercase;
}

.slider {
    width: 100%;
}

.backgroundNosotros {
    background-color: #ffc107a6;
}

.backgroundNosotros img{
    width: 100%;
}

/* encabezados accordion */
.accordion-button h2{
 font-size: 1.75rem;
}

.accordion-body{
    font-size: 1.15rem;
}

.backgroundEnvio {
    background-image: url(../img/bg-nenafullscreen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* footer */
footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #f53b00cf;
    padding: 0.25rem 0 0 0;
}

.footer_redesSociales i {
    font-size: 1.75rem;
    color: #ede5e5;
    text-shadow: 2px 2px 2px #060606;
}

.footer_enlaces {
    display: flex;
    justify-content: space-evenly;
}

/* base de calculo para em en footer */
.footer_contacto {
    font-size: 5px;
}

.footer_contacto p {
    font-size: 2.25em;
    margin-bottom:0;
}
/* INICIO ENCABEZADO */

.contacto_form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 20px auto;
}
.contacto_form div {
    padding: 3px;
}
.contacto_form .infoBase {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contacto_form .select {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.contacto_form input[type=text],
input[type=email],
input[type=tel] {
    width: 200px;
}
/* inicio estilos pagina contacto con formulario */
/*inicio formulario de newslatter */
form button {
    border: none;
    background: transparent;
    vertical-align: middle;
}
/*fin formulario de newslatter */

.contacto_form,ol {
    font-size: 1.5rem;
}

/* grid ejemplo en libros 
.grid-padre {
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 1.5fr 2fr 2.25fr;
    grid-template-areas:
        "titulo box5 box2"
        "titulo box5 box3"
        "box4   box5 box6"
        "box7   box7 box7";
    height: calc(100vh - 90px);
    width: 95%;
    margin: 0 auto;}
section.grid-padre div {
    border: 1px solid black;}
.hijo1 {
    grid-area: titulo;
    background-color: yellow;}
.hijo4 {
    grid-area: box4;
    background-color: rgb(248, 90, 193);}
.hijo3 {
    grid-area: box3;
    background-color: rgba(8, 235, 27, 0.656);}
.hijo5 {
    grid-area: box5;
    background-color: rgb(106, 82, 210);}
.hijo6 {
    grid-area: box6;
    background-color: rgb(224, 119, 28);}
.hijo7 {
    grid-area: box7;
    background-color: rgb(152, 49, 49);}
.hijo2 {
    grid-area: box2;
    background-color: rgb(0, 140, 221);}
fin grid ejemplo en libros*/

/* inicio grid contacto */
#grid-contacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8vh 80vh 12vh;
}

/* fin grid contacto */
/*inicio grid imagenes */
#grid_libros {
    display: grid;
    grid-template-areas: "titulo img4 txt1"
        "txt2 img4 img1"
        "img6 img6 img6";
    grid-template-columns: 200px 1.75fr 2fr;
    grid-template-rows: 1.5fr auto 150px;
    gap: 10px;
    margin: 0 auto 25px auto;
    width: 95vw;
}

#grid_libros img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: center;
}

.grid_librosEncabezado {
    background-color: greenyellow;
    grid-area: titulo;
    font-family: Monoton, sans-serif;
    padding: 15px;
    word-wrap: break-word;
    line-height: 2;
    font-size: 2.45rem;
    letter-spacing: 3px;
}

.grid_librosEncabezado span {
    letter-spacing: 2px;
}

.grid_librosTxt1 {
    background-color: orange;
    grid-area: txt1;
    text-align: right;
    font-weight: 900;
    font-size: 1.35rem;
    padding: 25px 25px 2px 25px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid_librosTxt2 {
    background-color: rgb(253, 110, 196);
    grid-area: txt2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    text-align: justify;
    font-weight: 600;
    line-height: 2.75;
}

.grid_librosTxt3 {
    background-color: rgba(0, 217, 255, 0.854);
    grid-area: txt3;
    display: none;
}

#grid_libros img.grid_librosImg1 {
    grid-area: img1;
    /*  display: none; */
    object-fit: contain;
}

.grid_librosImg2 {
    grid-area: img2;
    display: none;
}

.grid_librosImg3 {
    grid-area: img3;
    display: none;
}

.grid_librosImg4 {
    grid-area: img4;
    /*  display: none; */
}

.grid_librosImg5 {
    grid-area: img5;
    display: none;
}

.grid_librosImg6 {
    grid-area: img6;
    height: 300px;
    /* object-fit: cover; */
}

/* fin grid imagenes */
/* inicio cards  */
section #libros_destacados {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.titulo_destacados {
    text-align: center;
}
.libros_card {
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
    width: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.libros_card img {
    width: 100%;
}
.libros_card img:hover, .libros_card img:active {
    filter:sepia(80%)
}
.libros_card .sale {
    background-color: crimson;
    padding: 3px;
    width: fit-content;
    border-radius: 25%;
    box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    position: absolute;
    top: 10px;
    right: 10px;
}
.libros_mas {
    background: #023253;
    padding: 5px;
    margin-top: 15px;
    width: fit-content;
    border-radius: 8px;
    color: #f3f4e6;
    text-transform: uppercase;
    font-weight: 900;
    align-self: center;
}
/* fin cards */
.whatsapp {
    position: fixed;
    bottom: 35px;
    right: 6px;
}
.whatsapp img {
    width: 60px;
}
/* envios */
ol {
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    line-height: 2.5;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif
}
.pago-envio{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
ol.lista-envio li span{
    font-weight: 600;    
}
/* PSEUDOELEMENTO */
.lista-envio li::first-letter{
    font-size: 2rem;
    color: rgb(142, 3, 139)
}
.mapa-envios{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;   
}
.mapa-envios iframe{
    width: 80%;
}

/* PSEUDOCLASE */
.lista-envio li:nth-child(odd){
    background-color: rgba(49, 238, 238, 0.755);
}
 .lista-envio li:nth-child(even){
    background-color: rgb(184, 233, 37);
}

.lista-envio li:nth-child(6){
    background-color: rgba(123, 125, 118, 0.978);
}
/* .lista-envio li:nth-child(2){
    background-color: rgba(117, 121, 121, 0.736);
}
.lista-envio li:nth-child(3){
    background-color: rgba(133, 11, 154, 0.332);
}
.lista-envio li:nth-child(4){
    background-color: rgba(236, 78, 81, 0.647);
} */

/* fin envios */

.encabezado-titulo {
    color: rgb(72, 201, 236);
}

button.navbar-toggler {
    border: 2px solid black;
    border-radius: 8px;
}




/* media para tablets 577 hasta 768 */
@media screen and (max-width: 768px) {
    .encabezado-titulo {
        color: rgb(43, 0, 255);
    }
    .grid_librosEncabezado {
        font-size: 2.25rem;
        letter-spacing: 5px;
    }
    #grid_libros {
        grid-template-areas:
            "titulo img1"
            "txt1 txt2"
            "img3 img5"
            "img2 img2";
        grid-template-columns: repeat(2, 1fr);
        width: 95vw;
        grid-template-rows: 300px 400px 2fr 1.5fr;
    }
    .grid_librosImg2 {
        display: block;
    }
    .grid_librosImg3 {
        display: block;
        object-fit: contain;
    }
    .grid_librosImg4 {
        display: none;
    }
    .grid_librosImg5 {
        display: block;
    }
    .grid_librosImg6 {
        display: none;
    }
    .grid_librosTxt3 {
        display: none;
    }
    .grid_librosEncabezado {
        padding: 30px;
        font-size: 3rem;
        letter-spacing: 5px;
    }

    footer {
        position: relative;
        bottom: 0;
        width: 100%
    }
}

/* ajuste del footer desde 767px hasta infinito no lo aplico en el general porque para pantallas chicas no lo quiero*/
@media only screen and (min-width:767px) {
    footer.footer-index {
        position: fixed;
        bottom: 0;
        width: 100%
    }
}

/* media para celulares hasta 576px */
@media screen and (max-width: 576px) {
    .encabezado-titulo {
        color: red;
    }
/* INICIO ENCABEZADO */
    .encabezadoCarousel{
        font-size: 2.25rem;
        padding: 15px;
        text-align: center;
    }

    ul {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .whatsapp {
        bottom: 22px;
        right: 16px;
    }

    #grid_libros {
        grid-template-areas:
            "titulo txt1"
            "img1 img1"
            "txt2 txt2"
            "img2 img2"
            "txt3 txt3"
            "img3 img3"
            "img5 img5";
        grid-template-columns: 150px 2fr;
        grid-template-rows: auto 0.8fr 1fr auto 0.5fr 0.5fr 1.5fr;
        width: 95vw;
        margin: 20px auto;
    }

    .grid_librosEncabezado {
        padding: 20px;
        line-height: 2.5;
        font-size: 2rem;
        letter-spacing: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .grid_librosImg2 {
        display: inline-block;
    }

    .grid_librosImg3 {
        display: inline-block;
    }

    .grid_librosImg4 {
        display: none;
    }

    .grid_librosImg5 {
        display: inline-block;
    }

    .grid_librosImg6 {
        display: none;
    }

    .grid_librosTxt3 {
        display: block;
    }


}